body,ul,li,h1,h2,h3,h4,h5{margin:0;padding:0;font-size:12px;}
a{text-decoration:none;}
li{list-style: none;}
.newsList{
  width:100%;
  max-width: 1400px;
  min-width:1000px;
  margin:0 auto 0;
}
.newsList ul{width:100%}
.newsList ul li{width:100%;overflow:hidden;padding:25px 0;border-bottom: 1px solid #ececec;}
.newsImg{width:13%;margin-right:2%;float:left;overflow:hidden;}

.newsImg img{width:100%;height:125px;}
.newsList .newsDec{width:84%;float:left;}
.newsDec h2{overflow: hidden;}
.newsDec a {display:block;line-height: 29px;width:850px;float:left;font-size: 20px;color:#333;}
.newsDec span{float:right;display: block;font-size: 13px;font-weight: normal;color: #666;}
.newsDec p{line-height: 22px;font-size: 13px;color: #666;margin:10px 0 0 0;}
