.trademark{max-width: 1400px;min-width: 1000px;margin:0 auto 0}
.markImg{width:86%;padding:30px 8%;}
.markImg img{width:100%;}
.trademark p{text-indent: 21pt;font-size: 16px;color:#666;font-weight: bold;line-height: 30px;text-align: left;}
